
body {
    font-family: 'Nunito Sans', sans-serif;
}

.fig1 {
    position: absolute;
    top: 300px;
    left: 200px;
}

.fig2 {
    position: absolute;
    top: 350px;
    right: 1100px;
}
.fig3 {
    position: absolute;
    top: 475px;
    left: 140px;
}