body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Nunito Sans", sans-serif;

    overflow: hidden;
    background-image: url("../images/background.jpeg");
    background-size: cover;
    margin: 0;
    min-height: 100%;
    position: relative;
}

.footer2 {
    background-color: #333;
    color: #fff;

    position: absolute;
    bottom: 0;
    width: 100%;
}

.faq {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
}

.question-title {
    display: flex;
    transition: all 0.9s ease-in-out;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
    justify-content: space-between;
}

.question-title::after {
    content: "	\2B9F";
    font-size: 20px;
}

.question-title.active::after {
    content: "\2B9D";
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .faq {
        width: 95%;
    }

    .question {
        margin-bottom: 10px;
    }
}

.question {
    display: flex;
    flex-direction: column;

    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

@media (max-width: 600px) {
    .question {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .faq {
        width: 95%;
    }

    .question {
        margin-bottom: 10px;
    }
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.question-title.active+.answer {
    max-height: 1000px;
}