/* Header */

.header {
    font-family: "Nunito Sans", sans-serif;
    background: #fff;
    font-size: 16px;
    padding: 0 2rem;
    z-index: 100;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2vh 1vw;
    height: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    max-height: 50px;
    height: auto;
    width: fit-content;
    padding: 0 0 0 0;
}

.logo img {
    max-height: 50px;
    height: auto;
}

.menu li a {
    color: #000;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 500px;
    text-align: center;
}

.menu.open {
    display: block;
}

.btn {
    padding: 10px 20px;
    border: 0;
    border-radius: 100px;
    border: 2px solid #00c4b3;
    color: #ffffff;
    font-weight: 600;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.btn:hover {
    background-color: #00c4b3;
    box-shadow: 0 0 20px #81e8df;
}

.btn:active {
    background-color: #00c4b3;
    border: white;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    line-height: 2;
    letter-spacing: 0.5px;
}

/* Footer */

.footer {
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    padding: 20px;
}

.footer .contenu-footer {
    display: flex;
    justify-content: space-between;
}

.footer .bloc {
    display: inline-block;
}

.footer .footer-services h4 {
    margin: 0;
}

.footer .liens {
    display: flex;
}

.footer .liens .bloc {
    margin-left: 10px;
}

.footer .liens .bloc a {
    color: #000000;
    text-decoration: none;
}

.footer .liens .bloc a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    nav {
        /*  overflow-x: hidden;
        position: fixed;

        left: 0;
       margin-top: 30px;*/
        height: 10%;
    }

    /*  .footer {

        position: fixed;
        bottom: 0;
    }*/
}