@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

.header {
    background-color: #ffffff;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 20px;
    max-height: 70px;
    font-family: "Nunito Sans", sans-serif;
}

li {
    list-style-type: none;
}

.header .logo-header {
    height: 40px;
    margin: 0;
}

.header .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.header .menu li {
    margin-left: 20px;
}

.header .menu a {
    text-decoration: none;
}

.header .menu a:hover {
    text-decoration: underline;
}

.menu .btn {
    padding: 10px 20px;
    border: 0;
    border-radius: 100px;
    border: 2px solid #00c4b3;
    color: #ffffff;
    font-weight: 600;
    transition: all 0.5s;
}

.btn:hover {
    background-color: #00c4b3;
    box-shadow: 0 0 20px #81e8df;
}

.btn:active {
    background-color: #00c4b3;
    border: white;
    transition: all 0.25s;

    box-shadow: none;
}

.header .toggle {
    display: none;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.header .toggle .ouvrir {
    display: block;
}

.header .toggle .fermer {
    display: none;
}

.header .logo-header:hover {
    height: 42px;
    box-shadow: -5px 5px 10px #81e8df;
    border-radius: 50px;
}

@media (max-width: 800px) {
    .header .menu {
        display: none;
    }

    .header .toggle {
        display: block;
    }
}

.toggle {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    color: black;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 100;
}

.toggle .bar,
.toggle:after,
.toggle:before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: rgb(0, 0, 0);
    margin: 6px 0px;
    transition: 0.4s;
}

.toggle.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.toggle.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.toggle.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #00c4b3;
    padding-top: 130px;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav li {
    transition: all 0.7s ease;
}

.mobile-nav li:active {
    transform: scale(1.3);
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #fff;
    color: black;
    text-decoration: none;
    border-radius: 50px;
}

.mobile-nav a:hover {
    background-color: fff;
}

@media (min-width: 801px) {
    .mobile-nav {
        display: none;
    }

    .toggle {
        display: none;
    }
}

@media screen and (max-width: 600px) {


    nav {
        overflow-x: hidden;
        position: fixed;

        left: 0;
        margin-top: 30px;
        height: 10%;
    }

    .footer {

        position: fixed;
        bottom: 0;
    }

}