*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

/* HEADER */

.container{
    width: 100%;
    min-height: 1vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
    cursor: pointer;
    margin: 30px 0;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 700;
}
nav ul li a:hover{
    color: #00C4B3
}

@media only screen and (max-width:700px) {

    nav ul{
        width:100%;
        background: linear-gradient(#00C4B3, #00C4B3);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #000;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }

}



/*Carrousel d'images*/

.slider {
    height: 50vh;
    position: relative;
}
.slider img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position:absolute;
    top:0;
    left:0;
    opacity: 0;
    transition: opacity .5s;
}
.slider img.active {
    opacity: 1;
}
.suivant, .precedent{
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.suivant {
    right: 1rem;
}
.precedent{
    left: 1rem;
}