@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  font-family: "Noto Sans", sans-serif;}

  body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}

.ligne1{
  margin : 20px;

  padding: 20px;
  border-radius: 10px;
}

.hz_line{
  display: block;
}
.vert_line{
  display: none;
}

@media screen and (max-width: 1300px) {
  .hz_line{
    display: none;;
  }
  .vert_line{
    display: block;
  }
}
