@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
    font-family: "Noto Sans", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.ligne1 {
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1.5%;
    border-radius: 10px;
    width: 97%;
    height: 300px;
}

.fb_lignes {
    display: flex;
    flex-direction: column;
}
.fb_stations {
    display: flex;
    flex-direction: row;
}
.fb_station_ct {
    width: 250px;
    text-align: center;
}

@media screen and (max-width: 1300px) {
    .ligne1 {
        overflow: none;
        overflow-x: none;
        height: auto;
        width: 500px;
    }
    .hz_line {
        display: none;
    }
    .vert_line {
        display: block;
    }
    .fb_lignes {
        flex-direction: row;
    }
}

@media screen and (min-width: 1301px) {
    .ligne1 {
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        height: 200px;
    }
    .hz_line {
        width: fit-content;
        height: 50px;
        display: block;
    }
    .vert_line {
        display: none;
    }
}

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
    border-radius: 10px;
    border: solid 10px transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
