@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
	font-family: "Noto Sans", sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0 0 0 0;
	overflow-x: none;
}

footer {
	margin-top: auto;
}

.ligne1 {
	margin-left: 1.5vw;
	margin-right: 1.5vw;
	margin-top: 1vh;
	margin-bottom: 1vh;
	padding: 1.5%;
	border-radius: 10px;
	width: 94vw;

	display: flex;
	flex-direction: column;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	height: 175px;
}

.ligne2 {
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 1.5%;
	border-radius: 10px;
	width: 97%;
	height: 800px;
	display: flex;
	flex-direction: column;
	white-space: nowrap;
}

.fb_lignes {
	display: flex;
	flex-direction: column;
	overflow-y: none;
	overflow-x: none;
	width: 100vw;
}
.fb_stations {
	display: flex;
	flex-direction: row;
	width: fit-content;
}
.fb_station_ct {
	width: 250px;
	text-align: center;
}

.fb_fb {
	overflow-x: auto;
}

.vert_line_fb {
	display: flex;
}

.hz_line {
	width: fit-content;
	height: 50px;
	display: block;
}
.vert_line {
	display: none;
}

@media screen and (max-width: 900px) {
	.ligne1 {
		overflow: none;
		overflow-x: none;
		height: auto;
		width: 250px;

		flex-direction: row;
	}
	.hz_line {
		display: none;
	}
	.vert_line {
		display: block;
	}
	.fb_lignes {
		flex-direction: row;
		height: 88%;
	}
	.fb_stations {
		height: fit-content;
		margin-top: 40px;
		flex-direction: column;
	}
	.fb_station_ct {
		height: 125px;
		text-align: left;
	}
	.vert_line_fb {
		overflow-y: auto;
	}
}

/* width */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f100;
	border-radius: 10px;
	border: solid 10px transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
