body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;

    overflow: hidden;
    background-image: url('sources/background.jpeg');
    background-size: cover;
    margin: 0;
    min-height: 100%;
    position: relative;

}



.footer2 {
    background-color: #333;
    color: #fff;

    position: absolute;
    bottom: 0;
    width: 100%;
}

.faq {
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    padding-top: 10%;
}

.question-title {
    transition: all 0.9s ease-in-out;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.question-title::after {
    content: "	\2B9F";
    font-size: 20px;
    padding-left: 80%
}

.question-title.active::after {
    content: "\2B9D";
    font-size: 20px;
    padding-left: 80%
}

@media only screen and (max-width: 600px) {
    .faq {
        width: 95%;
    }

    .question {
        margin-bottom: 10px;
    }
}


.question {
    width: 80%;
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

@media (max-width: 600px) {
    .question {
        width: 100%;

    }
}


@media only screen and (max-width: 600px) {
    .faq {
        width: 95%;
    }

    .question {
        margin-bottom: 10px;
    }
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.question-title.active+.answer {
    max-height: 1000px;
}