.header {
	font-family: "Nunito Sans", sans-serif;
	position: fixed;
	width: 100%;
	height: 9vh;
	top: 0;
	left: 0;
	background: #fff;
	font-size: 16px;
	padding: 0 2rem;
	z-index: 100;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1vh 1vw;
	height: 100%;
	color: black;
}


.logo-header {
	max-height: 50px;
	height: auto;
	width: fit-content;
	padding: 0 0 0 0;
}

.logo img {
	max-height: 50px;
	height: auto;
}


.menu li a {
	color: #000;
	text-decoration: none;
}

.toggle {
	display: none;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	width: 500px;
}

.btn {
	padding: 10px 20px;
	border: 0;
	border-radius: 100px;
	border: 2px solid #00c4b3;
	color: #ffffff;
	font-weight: 600;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.btn:hover {
	background-color: #00c4b3;
	box-shadow: 0 0 20px #81e8df;
}

.btn:active {
	background-color: #00c4b3;
	border: white;
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
	box-shadow: none;
}

/* Media Queries pour header */
@media all and (max-width: 991px) {

	.header {
		background: transparent;
	}


	.toggle {
		display: block;
		font-size: 2rem;
		cursor: pointer;
		position: relative;
		z-index: 20;
	}

	.logo {
		position: relative;
		z-index: 20;
	}

	.ouvrir {
		display: block;
	}

	.fermer {
		display: none;
	}

	.open .ouvrir {
		display: none;
	}

	.open .fermer {
		display: block;
	}

	.menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		/* autres propriétés */
	}

	.menu li a {
		font-size: 2rem;
		font-weight: 600;
	}

	.open .menu {
		transform: translateX(0);
	}

	.open .slider {
		transform: translateX(100%);
		transition: transform 1s;
	}

}

@media screen and (max-width: 600px) {
	.header {
		background: transparent;
	}

	.toggle {
		display: block;
		font-size: 2rem;
		cursor: pointer;
		position: relative;
		z-index: 20;
	}

	.logo {
		position: relative;
		z-index: 20;
	}

	.ouvrir {
		display: block;
	}

	.fermer {
		display: none;
	}

	.open .ouvrir {
		display: none;
	}

	.open .fermer {
		display: block;
	}

	.menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		/* autres propriétés */
	}

	.menu li a {
		font-size: 2rem;
		font-weight: normal;
	}


	.open .menu {
		transform: translateX(0);
	}

	.open .slider {
		transform: translateX(100%);
		transition: transform 1s;
	}

	.fermer .slider {
		transform: translateX(-100%);
		transition: transform 1s;
	}
}