/* Header */

.header {
	font-family: "Nunito Sans", sans-serif;
	position: fixed;
	width: 98vw;
	height: 9vh;
	top: 0;
	left: 0;
	background: #fff;
	font-size: 16px;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 98vw;
	padding: 1vh 1vw;
}

.logo-header {
	max-height: 50px;
	height: auto;
	width: fit-content;
	padding: 0 0 0 0;
}

.toggle {
	display: none;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	width: 500px;
}

.menu li a {
	color: #000;
	text-decoration: none;
	font-weight: 600;
}

.btn {
	border: 0;
	color: #000;
	font-weight: 400;
	background: transparent;
	border: 2px solid #00c4b3;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 20px;
}

/* Media Queries pour header */

@media screen and (max-width: 600px) {
	.header {
		background: transparent;
	}

	.toggle {
		display: block;
		font-size: 2rem;
		cursor: pointer;
		position: relative;
		z-index: 20;
	}

	.logo {
		position: relative;
		z-index: 20;
	}

	.ouvrir {
		display: block;
	}

	.fermer {
		display: none;
	}

	.open .ouvrir {
		display: none;
	}

	.open .fermer {
		display: block;
	}

	.menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: #00c4b3;
		flex-direction: column;
		padding: 2rem;
		justify-content: space-around;
		transform: translateX(-100%);
		transition: transform 1s;
		z-index: 1;
	}

	.menu li a {
		font-size: 2rem;
		font-weight: 600;
	}

	.btn {
		font-size: 2rem;
	}

	.open .menu {
		transform: translateX(0);
	}

	.open .slider {
		transform: translateX(100%);
		transition: transform 1s;
	}

	.fermer .slider {
		transform: translateX(-100%);
		transition: transform 1s;
	}
}

/* Footer */

.footer {
	flex-shrink: 0;
	width: 100%;
	background: #ebebeb;
	color: #000;
	font-family: "Nunito Sans", sans-serif;
	font-size: 16px;
	background-color: #ebebeb;
	height: 5vh;
}

.contenu-footer {
	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
	height: 50px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;

	font-size: 16px;
}

.contenu-footer h4 {
	text-decoration: none;
	color: #000;
	font-size: 16px;
	font-weight: 600;
}

.liens {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	text-align: center;
	align-items: center;
}

.liens a {
	text-decoration: none;
	color: #000;
	font-weight: 600;
	font-size: 16px;
}

.bloc {
	display: inline;
	width: 25%;
	margin: 0 0px;
}

.bloc div {
	display: inline;
}

/*  Media queries pour footer */

@media screen and (max-width: 600px) {
	.contenu-footer {
		width: 100%;
		display: inline-block;
		text-align: center;
		display: flex;
		flex-direction: column-reverse;
	}

	.bloc {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	.liens {
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}
