@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
	font-family: "Noto Sans", sans-serif;
}

body {
	font-family: "Noto Sans", sans-serif;
	background-color: rgb(255, 255, 255);
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	/* Fallback color */
}

.fb-page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.box {
	display: flex;
	flex-direction: column;
	background-image: url("sources/blurry_lr.jpg");
	background-size: cover;
	height: 82.5vh;
}

.bg-image {
	color: white;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
	width: fit-content;
	border-radius: 10px;
	border: none;
	background-color: #ffffff;
}
.bwate{
	height: 100%;
}

.logo {
	width: 50%;
	padding-bottom: 30px;
}

.form_field {
	font-family: "Noto Sans", sans-serif;
	border: none;
	color: #77797c;
	padding: 10px;
	border-radius: 10px;
	padding-left: 20px;
	border-color: white;
	background-color: #edf2f7;
	margin-bottom: 10px;
	height: 50px;
	width: 350px;
}

.submit_button {
	padding: 10px;
	width: 350px;
	font-family: "Noto Sans", sans-serif;
	font-weight: bold;
	border: none;
	color: white;
	background-color: #00c4b3;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 10px;
	transition: background-color 250ms ease-in-out;
	transition: color 250ms ease-in-out;
}

.submit_button:hover {
	background-color: #03ad9f;
	color: rgb(200, 200, 200);
	cursor: pointer;
}

.newacc {
	margin: 50px;
	width: 200px;
	font-weight: 400;
	background-color: white;
	color: #4a5568;
	border-color: #4a5568;
	padding: 5px;
	border-radius: 7px;
	padding-right: 30px;
	padding-left: 30px;
	border-style: solid;
	margin-bottom: 10px;
	border-width: 1px;
	font-size: small;
	text-decoration: none;
	transition: background-color 250ms ease-in-out;
}

.newacc:hover {
	background-color: rgb(200, 200, 200);
	cursor: pointer;
}

.fgtpsswd {
	font-weight: 200;
	margin-top: 50px;
	font-size: small;
	background-color: white;
	color: #4a5568;
	padding: 5px;
	padding-right: 30px;
	padding-left: 30px;
	margin-bottom: 10px;
	text-decoration: underline;
}

.flex-name {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	text-align: left;
	padding: 10px;
	margin-left: 10%;
	margin-right: auto;
}

.flex-edit {
	margin-left: auto;
	margin-right: 30%;
}

.changeinfos {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	text-align: center;
	margin-top: 20px;
	width: 100%;
}

.error {
	color: red;
	padding-bottom: 10px;
	border-color: red;
	font-size: small;
}

.confirmation {
	color: rgb(70, 70, 253);
	padding-bottom: 10px;
	border-color: red;
	font-size: xx-small;
}

.text {
	color: black;
	width: 300px;
	text-align: center;
	margin: auto;
}

.couleur1 {
	margin: 0;

	width: 25%;
	height: 8px;
	background: red;
	border-radius: 20px;
}

.couleur2 {
	margin: 0;

	width: 50%;
	height: 8px;
	background: rgb(255, 128, 2);
	border-radius: 20px;
}

.couleur3 {
	margin: 0;
	width: 75%;
	height: 8px;
	background: rgb(106, 248, 67);
	border-radius: 20px;
}

.checkmark-green {
	filter: invert(62%) sepia(11%) saturate(2528%) hue-rotate(76deg)
		brightness(109%) contrast(76%);
	height: 20px;
	width: 20px;
	position: absolute;
	left: 350px;
	top: 337px;
}

.checkmark-none {
	filter: invert(62%) sepia(11%) saturate(2528%) hue-rotate(76deg)
		brightness(109%) contrast(76%);
	height: 0px;
	width: 0px;
	position: absolute;
	left: 350px;
	top: 337px;
}

.couleur4 {
	margin: 0;
	width: 100%;
	height: 8px;
	background: rgb(7, 159, 7);
	border-radius: 20px;
}

.barre {
	margin-left: 20px;
	width: 90%;
	background-color: lightgray;
	border-radius: 20px;
	height: 8px;
}

.password-comments {
	max-width: 360px;
	color: black;
	font-size: 10px;
}

.inline-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.passwd-error {
	color: black;
}
