@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Nunito Sans", sans-serif;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fb-page {
    min-height: 100vh;
    display: flex;
}

.ligne1 {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 0.5%;
    border-radius: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.ligne2 {
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0.5%;
    border-radius: 10px;
    width: 97%;
    height: 800px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.fb_lignes {
    display: flex;
    flex-direction: column;
    overflow-y: none;
    overflow-x: none;
    width: auto;
}

.fb_stations {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.fb_station_ct {
    width: 250px;
    text-align: center;
}

.fb_fb {
    overflow-x: auto;
}

.vert_line_fb {
    display: flex;
}

.hz_line {
    width: fit-content;
    height: 50px;
    display: block;
}

.vert_line {
    display: none;
}

@media screen and (max-width: 600px) {
    .ligne1 {
        overflow: none;
        overflow-x: none;
        overflow-y: auto;
        height: auto;
        width: fit-content;
        flex-direction: row;

    }

    .hz_line {
        display: none;
    }

    .vert_line {
        display: block;
        width: fit-content;
    }

    .fb_lignes {
        flex-direction: row;
        width: fit-content;
        height: 88%;
    }

    .fb_stations {
        height: fit-content;
        margin-top: 40px;
        flex-direction: column;
    }

    .fb_station_ct {
        height: 125px;
        text-align: left;
    }

    .vert_line_fb {
        overflow: hidden;
    }

    .fb_fb {
        width: fit-content;
        margin-top: 25px
    }
}

@media screen and (min-width: 601px) {
    .ligne1 {
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        height: 200px;
    }

    .hz_line {
        width: fit-content;
        height: 50px;
        display: block;
    }

    .vert_line {
        display: none;
    }

    .fb_stations {
        width: fit-content;
    }
}

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
    border-radius: 10px;
    border: solid 10px transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* modif loader */


/* Le conteneur du loader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 1s ease-in-out;
}


.container {
    position: relative;
}

.content {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.track {
    position: absolute;
    width: 400px;
    height: 5px;
    background-color: #333;
    top: 300px;
}

.track:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 5px;
    background-color: #333;
    top: 4px;
    box-shadow: 20px 0 #333, -20px 0 #333, -40px 0 #333, -60px 0 #333, -80px 0 #333, 40px 0 #333, 60px 0 #333, 80px 0 #333, 100px 0 #333, 120px 0 #333, 140px 0 #333, 160px 0 #333, 180px 0 #333, 200px 0 #333, 220px 0 #333, 240px 0 #333, 260px 0 #333, 280px 0 #333, 300px 0 #333, 320px 0 #333, 340px 0 #333, 360px 0 #333, 380px 0 #333, 400px 0 #333, 420px 0 #333, 440px 0 #333, -100px 0 #333, -120px 0 #333, -140px 0 #333, 460px 0 #333, 480px 0 #333;
    animation: move 1s linear infinite reverse;
}

@keyframes move {
    from {
        left: -100px;
    }

    to {
        left: 100px;
    }
}

.train {
    position: absolute;
    width: 50px;
    height: 30px;
    border: 5px solid #333;
    background-color: #9e2a2b;
    border-radius: 0 10px 0 0;
    top: 230px;
    left: 285px;
    animation: scale 1s linear infinite;
}

@keyframes scale {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0.99);
    }

    100% {
        transform: scaleY(1);
    }
}

.train:before {
    content: "";
    position: absolute;
    border: 5px solid #333;
    background-color: #00c4b3;
    width: 35px;
    height: 60px;
    left: -45px;
    top: -35px;
}

.train:after {
    position: absolute;
    content: "";
    width: 100px;
    height: 5px;
    border-radius: 10px;
    border: 5px solid #333;
    background-color: #fff3b0;
    top: 30px;
    left: -50px;
}

.front {
    position: absolute;
    border: 5px solid #333;
    background-color: #aed9e0;
    box-shadow: inset 2px -5px rgba(255, 255, 255, 0.3);
    width: 20px;
    height: 30px;
    left: -37.5px;
    top: -20px;
}

.front:before {
    content: "";
    position: absolute;
    background-color: #333;
    width: 15px;
    height: 5px;
    border-radius: 10px;
    top: 25px;
    left: 70px;
    box-shadow: 0px 10px #333, -50px -45px #333, -86px -45px #333, -22px -41px #333, -11px -41px #333;
}

.front:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 20px;
    border: 5px solid #333;
    left: 50px;
    top: -16px;
    background-color: #adb5bd;
}

.wheels {
    position: absolute;
    z-index: 1;
}

.smallOne,
.smallTwo,
.smallThree,
.smallFour,
.smallFive,
.smallSix {
    position: absolute;
    border: 5px solid #333;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top: 40px;
    background-color: #e09f3e;
    box-shadow: inset 2px 2px white;
    z-index: 2;
}

.smallOne {
    left: 30px;
    animation: spin .5s infinite linear;
}

.smallTwo {
    left: 0;
    animation: spin .5s infinite linear;
}

.smallThree {
    left: -225px;
    animation: spin .5s infinite linear;
}

.smallFour {
    left: -190px;
    animation: spin .5s infinite linear;
}

.smallFive {
    left: -130px;
    animation: spin .5s infinite linear;
}

.smallSix {
    left: -95px;
    animation: spin .5s infinite linear;
}

.big {
    position: absolute;
    border: 5px solid #333;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #e09f3e;
    box-shadow: inset 2px 2px white;
    top: 30px;
    left: -40px;
    animation: spin .5s infinite linear;
}

.cord {
    position: absolute;
    width: 10px;
    height: 5px;
    background-color: #333;
    top: 35px;
    left: -59px;
    z-index: 3;
}

.cord:before {
    content: "";
    position: absolute;
    height: 5px;
    width: 70px;
    background-color: #333;
    top: 15px;
    left: 35px;
}

.cord:after {
    content: "";
    position: absolute;
    background-color: #333;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top: 5px;
    left: 29px;
}

.coach {
    position: absolute;
    width: 80px;
    height: 60px;
    border: 5px solid #333;
    background-color: #9e2a2b;
    left: -145px;
    top: -20px;
}

.coach:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 5px;
    background-color: #333;
    top: 50px;
    left: -15px;
}

.coach:after {
    content: "";
    position: absolute;
    width: 80px;
    height: 60px;
    border: 5px solid #333;
    background-color: #00c4b3;
    top: -5px;
    left: -100px;
}

.coachTwo {
    position: absolute;
    border: 5px solid #333;
    background-color: #aed9e0;
    box-shadow: inset 2px -5px rgba(255, 255, 255, 0.3);
    width: 15px;
    height: 25px;
    left: -225px;
    top: -5px;
}

.coachTwo:before,
.coachTwo:after {
    content: "";
    position: absolute;
    border: 5px solid #333;
    background-color: #aed9e0;
    box-shadow: inset 2px -5px rgba(255, 255, 255, 0.3);
    width: 15px;
    height: 25px;
    top: -5px;
}

.coachTwo:before {
    left: 30px;
}

.coachTwo:after {
    left: 90px;
}

.windows {
    position: absolute;
    border: 5px solid #333;
    background-color: #aed9e0;
    box-shadow: inset 2px -5px rgba(255, 255, 255, 0.3);
    width: 15px;
    height: 25px;
    left: -95px;
    top: -5px;
    z-index: 6;
}

.windows:before {
    content: "";
    position: absolute;
    background-color: #333;
    height: 5px;
    width: 95px;
    border-radius: 10px;
    top: -20px;
    left: -153px;
    box-shadow: 95px 0px #333;
}

.windows:after {
    content: "";
    position: absolute;
    background-color: #333;
    height: 5px;
    width: 40px;
    top: 51px;
    left: -125px;
    box-shadow: 95px 0 #333;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#up {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0;
    top: -30px;
    left: 25.5px;
    z-index: -1;
}

.steam {
    animation: up 2.5s ease-out infinite;
}

.steam2 {
    animation: up 1.7s ease-out infinite 1s;
}

.steam2:before {
    content: "";
    position: absolute;
    left: 5px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    top: 20px;
}

@keyframes up {
    0% {
        transform: translateY(0) translateX(0) scale(0.5);
        opacity: 1;
    }

    100% {
        transform: translateY(-110px) translateX(-80px) scale(1.5);
        opacity: 0.2;
    }
}

/* Animation pour faire sortir le preloader */
.preloader-exit {
    animation: preloader-exit 4s ease-in-out;
    background: transparent;
}


@keyframes preloader-exit {
    100% {
        transform: translateX(100%);
    }
}

@keyframes animate8345 {

    0%,
    100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }
}

@media screen and (max-width: 600px) {

    body {
        overflow-y: hidden;
    }

    footer {
        position: fixed;
        bottom: 0;
    }



    nav {
        overflow-x: hidden;
        position: fixed;
        height: 10%;
        left: 0;
        margin-top: 30px;

    }


    .ligne1 {
        overflow-x: auto;
    }

}