header {
    background-color: #ffffff;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 20px;
    max-height: 70px;
}


header .logo-header {
    height: 40px;
    margin: 0;
}

header .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;


}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 128px
}

@media (max-width: 1024px) {
    .container {
        padding-left: 64px;
        padding-right: 64px
    }
}

@media (max-width: 767px) {
    .container {
        padding-left: 32px;
        padding-right: 32px
    }
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    color: black
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 50px;
    color: rgb(0, 0, 0);
    margin: 6px 0px;
    transition: 0.4s
}

header .menu li {
    margin-left: 20px;
}

header .menu a {
    color: #ffffff;
    text-decoration: none;
}

header .menu a:hover {
    text-decoration: underline;
}

.btn {
    padding: 10px 20px;
    border: 0;
    border-radius: 100px;
    border: 2px solid #00c4b3;
    color: #ffffff;
    font-weight: 600;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.btn:hover {
    background-color: #00c4b3;
    box-shadow: 0 0 20px #81e8df;
}

.btn:active {
    background-color: #00c4b3;
    border: white;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
}